<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database Info</title>
</head>

<body>
    <h1>Database</h1>
    <nav>
        <a href="/" style="text-decoration: none;">Home</a> &VerticalLine;  
        <a href="/db-info" style="text-decoration: none;">Database</a>
    </nav>
    <br>

    <h2>Tables</h2>
    <ul>
        <% tables.forEach(function(r) { %>
        <li><%= r.table %>: <%= r.column %> (<%= r.type %>)</li>
        <% }); %>
    </ul>

    <h2>Observations</h2>
    <ul>
        <% obs.forEach(function(r) { %>
        <li><span style="font-weight: bold;">TASK ID:</span> <%= r.tasks_id %> <span style="font-weight: bold;">NAME:</span> <%= r.name %> <span style="font-weight: bold;">DURATION:</span> <%= r.duration.hours || "0" %>hrs <%= r.duration.minutes || "0" %>min <%= r.duration.seconds || "0" %>sec</li>
        <% }); %>
    </ul>
</body>
</html>