<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>PE Tracker</title>
</head>

<body>
    <h1>PE Tracker</h1>

    <nav>
        <a href="/" style="text-decoration: none;">Home</a> &VerticalLine; 
        <a href="/db-info" style="text-decoration: none;">Database</a>
    </nav>

    <br>

    <div class="wrapper">
        <% tasks.forEach(function(r) { %>
        <label for="<%= r.id %>"><%= r.name %>:</label>
        <button id="button<%= r.id %>" onClick="javascript:logTask(<%= r.id %>);">Start</button>
        <div><span id="timer<%= r.id %>">0</span> seconds</div>
        <br>
        <% }); %>
    </div>

    <script src="../../js/logTask.js"></script>
</body>
</html>