<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>PE Tracker</title>
</head>

<body>
    <h1>PE Tracker</h1>

    <nav>
        <a href="/" style="text-decoration: none;">Home</a> &VerticalLine; 
        <a href="/db-info" style="text-decoration: none;">Database</a>
    </nav>

    <br>

    <div class="wrapper">
        <% tasks.forEach(function(r) { %>
        <label for="<%= r.id %>"><%= r.name %>:</label>
        <button id="button<%= r.id %>" onClick="javascript:logTask(<%= r.id %>);">Start</button>
        <div><span id="timer<%= r.id %>">0</span> seconds</div>
        <br>
        <% }); %>
    </div>

    <script>
        let currentTaskId = null;
        let timer = null;
        let seconds = 0;

        const logTask = async function(id) {
            // Stop timer if we're tracking a task
            // Saves to database in stop timer
            if (currentTaskId != null) {
                stopTimer(currentTaskId);
            }
            
            // Start new timer if we want to track a task with a different id
            if (currentTaskId != id) {
                startTimer(id);
            }

            // Set current task
            currentTaskId = id;
            console.log(currentTaskId);
        }

        const startTimer = async function(id) {
            let timeLabel = document.querySelector("#timer" + id);
            let button = document.querySelector("#button" + id);
            button.innerHTML = "Stop";
            
            try {
                seconds = Number(timeLabel.innerHTML);
            } catch (err) {
                console.error(err);
                seconds = 0;
            }

            timer = setInterval(function() {
                seconds += 1;
                timeLabel.innerHTML = seconds;
            }, 1000);
        }

        const stopTimer = async function(id) {
            let button = document.querySelector("#button" + currentTaskId);
            button.innerHTML = "Start";

            if (timer != null) {
                clearInterval(timer);
            }

            saveToDB(id);
        }

        const saveToDB = async function(id) {
            const response = await fetch('/log', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    users_id: -1,
                    students_id: -1,
                    task_id: id,
                    duration: seconds
                })
            });

            const result = await response.json();
            console.log(result);
        }
        
    </script>
</body>
</html>